.footerContainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #232224;
    color: #fff;
    height: fit-content;
    width: 100%;
}

.footerLogo {
    width: 75px;
    margin-left: -5px;
}

.appStore {
    width: 150px;
}

.playStore {
    width: 150px;
}

.kfc {
    width: 400px;
    height: fit-content;
    margin-left: -25px;
}

.kfc ul {
    list-style: none;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-decoration: none;
}

.kfc ul li h1 {
    font-size: 17px;
}

.kfc ul li p {
    font-size: 12px;
}

.contact {
    width: 400px;
    height: fit-content;
}

.contact ul {
    list-style: none;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-decoration: none;
}

.contact ul li h1 {
    font-size: 17px;
}

.contact ul li p {
    font-size: 12px;
}

.contact ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}

.policies {
    width: 400px;
    height: fit-content;
}

.policies ul {
    list-style: none;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-decoration: none; 
}

.policies ul li h1 {
    font-size: 17px;
}

.policies ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}

.download {
    width: 400px;
    height: fit-content;
}

.download ul {
    list-style: none;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-decoration: none;
}

.download ul li h1 {
    font-size: 17px;
}

.downloadImgs {
    padding-top: 50px;
    margin-left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .footerContainer {
        flex-direction: column;
        padding: 20px;
    }

    .footerLogo, .appStore, .playStore {
        margin-left: 0;
        margin-bottom: 20px;
        width: 100px;
    }

    .kfc, .contact, .policies, .download {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .kfc ul li h1, .contact ul li h1, .policies ul li h1, .download ul li h1 {
        font-size: 15px;
    }

    .kfc ul li p, .contact ul li p, .contact ul li a, .policies ul li a {
        font-size: 11px;
    }

    .downloadImgs {
        padding-top: 50px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .appStore, .playStore {
        width: 120px;
    }
}