header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 110px;
}

.ticket{
    width: 30px;
}

.profile {
    width: 30px;
}

.order{
    width: 30px;
}

.words {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-right: 20px;
}

.buttons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 0;
}

.links {
    font-family: Arial, sans-serif; 
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #333;
    text-decoration: none;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .words, .buttons {
        flex-direction: column;
        width: 100%;
    }

    ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .links {
        font-size: 14px;
    }

    .ticket, .profile, .order {
        margin-bottom: 10px;
    }
}